textarea{
    resize:none;
}

.form-control, .custom-select{
    border: 1px solid #343a40;
}

/* .borde_selector_no_select_2 {
    border: 1px solid #343a40;
} */

#historialAcciones {
    width: 0;
    height: auto;
    overflow: hidden;
    transition: width 0.5s ease;
} 

.modalscroll {
    overflow-y: scroll;
}

.icono {
    position: relative;
    display: inline-block;
    transform: rotate(45deg);
    height: 1px;
    left: 5px;
}

.descarga-deshabilitada {
    opacity: 0.5;
    pointer-events: none;
}
.icono {
    animation: spin 2s infinite linear; 
  }
  
  @keyframes spin {
    25% { transform: rotate(15deg); }
    50% { transform: rotate(-15deg); }
    75% { transform: rotate(15deg); }
  }


