textarea{
    resize:none;
}

.form-control, .custom-select{
    border: 1px solid #343a40;
}

/* .borde_selector_no_select_2 {
    border: 1px solid #343a40;
} */

#historialAcciones {
    width: 0;
    height: auto;
    overflow: hidden;
    transition: width 0.5s ease;
} 

.modalscroll {
    overflow-y: scroll;
}

.select2-custom-width {
    width: 345px;
}

.select2-custom-width2 {
    width: 525px;
}

.select2-custom-width3 {
    width: 255px;
}

