.select2-container--default .select2-selection--single .select2-selection__placeholder {
    color: black !important;
}
.select2-container .select2-selection--single {
    height: 35px !important;
}
.select2-container--default .select2-selection--single {
    background-color: #fff !important;
    border: 1px solid black !important;
    border-radius: 4px !important;
}

.not_render{
    display: none;
}

/* .nav-link{
    color:white !important;
} */

/*Flecha para hacer la pagina hacia arriba*/
.ir-arriba{
    display:none;
    background-repeat:no-repeat;
    font-size:20px;
    color: #343A40;
    cursor:pointer;
    position:fixed;
    bottom:10px;
    right:10px;
    z-index:2;
  }