/* TAMAÑO DEL SELECT 2 DE ROLES */
.select2-container .select2-selection--single {
    height: 37px !important;
}

/* FONDO DE LAS OPCIONES Y BORDEADO DEL SELECT2 */
.select2-selection--single {/*  */
    /* background-color: red !important; */
    border: 1px solid black !important;
    border-radius: 4px !important;
}

.select2-container--default .select2-selection--single {
    background-color: white !important;
}

/* COLOR DE FONDO Y ALTURA FLECHA DEL SELECT2 */
.select2-selection__arrow {
    background-color: white !important;
    height: 94% !important;
}

.descarga-deshabilitada {
    opacity: 0.5;
    pointer-events: none;
}

.not_render{
    display: none;
}

/*Flecha para hacer la pagina hacia arriba*/
.ir-arriba{
    display:none;
    background-repeat:no-repeat;
    font-size:20px;
    color: #343A40;
    cursor:pointer;
    position:fixed;
    bottom:10px;
    right:10px;
    z-index:2;
}

/* LOGO */
.logo-xl.brand-image-xl{
    left: 30px !important;
    top: -7px !important;
}
.brand-link .brand-image-xl {
    line-height: .8 !important;
    max-height: 68px !important;
    width: auto !important;
}

/* Seleccionar archivo */

.select-doc{
    padding-inline: inherit; 
    padding-block: inherit; 
    height: max-content; 
    color: black;
}

.button-doc-select{
    padding-block: inherit;
}

.scales{
    scale: 2;
}

.scalesR{
    scale: 1.2;
}

.scalesRecali{
    scale: 2;
}

.tabla_cuerpo {
    font-family: sans-serif;
    text-align: center;
    width: 100%;
    table-layout: fixed; 
    border-collapse: collapse;
}

.tabla_cuerpo, .tabla_cuerpo td, .tabla_cuerpo th {
    border: 1px solid black;
    border-collapse: collapse;
}

.cuerpo_doc_revPen {
    padding-left: 100px;
    padding-right: 100px;
    text-align: justify;
    font-style: italic;
}

#div_cual {
    display: none;
}

#div_tipo_destinatario_principal{
    display: none;
}

#div_nombre_destinatariopri{
    display: none;
}

#div_nombre_destinatariopri_afi_{
    display: none;
}

#div_nombre_destinatariopri_empl{
    display: none;
}

.sirena {
    /* font-size: 2.5rem;  */
    animation: parpadeo 1s infinite alternate;
  }
  
@keyframes parpadeo {
    0% {
        color: black;
    }
    100% {
        color: red;
    }
}

/* .sirena {
    color: red;
    animation: parpadeo 1s infinite alternate;
}
  
@keyframes parpadeo {
    0% {
        opacity: 1;
    }
    100% {
        opacity: 0.1;
    }
} */

#id_subir_scroll {
    bottom: 1.25rem;
    position: fixed;
    right: 1.25rem;
    z-index: 1032;
}

#id_subir_scroll:hover {
    background-color: #138496; 
}

html {
    scroll-behavior: smooth;
}

/* spinner de carga despues de generar la lista de chequeo */
.spinner-overlay {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.5); 
    z-index: 1051;
    display: flex;
    justify-content: center;
    align-items: center;
}

.spinner-grow {
    width: 3rem;
    height: 3rem;
}

.spinner-expediente {
    display: flex;
    width: max-content;
    margin-left: -100px;
    font-weight: bold;
}


.btn-icon-only {
    border: none;
    padding: 0;
    background: none;
}

.btn-icon-only[value] {
    display: none;
}

.custom-checkboxtipo {
    display: inline-block;
    width: 20px;
    height: 20px;    
    cursor: not-allowed;
    opacity: 0.5;
    pointer-events: none;
}

.custom-checkboxtipo:checked {
    background-color: #007BFF;
    border-color: #007BFF;
    scale: 1.2;
}

.custom-checkboxtipo-label {
    user-select: none;
}

.custom-checkboxtipore {
    display: inline-block;
    width: 20px;
    height: 20px;    
    cursor: not-allowed;
    opacity: 0.5;
    pointer-events: none;
}

.custom-checkboxtipore:checked {
    background-color: #007BFF;
    border-color: #007BFF;
    scale: 1.2;
}

.custom-checkboxtipore-label {
    user-select: none;
}

.select2-selection__choice{
    background: transparent !important;
    color: black !important;
    border: 1px solid black !important;
}

.bootstrap-duallistbox-container select {
    width: 100% !important;
}

.tabla_cuerpo_remision_expediente {
    font-family: sans-serif;
    text-align: justify;
    width: 100%;
    table-layout: fixed; 
    border-collapse: collapse;
}

.tabla_cuerpo_remision_expediente, .tabla_cuerpo_remision_expediente td, .tabla_cuerpo_remision_expediente th {
    border: 1px solid black;
    border-collapse: collapse;
    padding: 5px;
}

.tabla_devolucion_expediente {
    font-family: sans-serif;
    text-align: justify;
    width: 100%;
    table-layout: fixed; 
    border-collapse: collapse;
}

.tabla_devolucion_expediente, .tabla_devolucion_expediente td, .tabla_devolucion_expediente th {
    border: 1px solid black;
    border-collapse: collapse;
    padding: 5px;
    text-align: center;
}

.tabla_acuerdo_origen{
    font-family: sans-serif;
    text-align: justify;
    width: 100%;
    table-layout: fixed; 
    border-collapse: collapse;
}

.tabla_acuerdo_origen, .tabla_acuerdo_origen td, .tabla_acuerdo_origen th {
    border: 1px solid black;
    border-collapse: collapse;
    padding: 5px;
    text-align: justify;
}

.loading {
    z-index: 1051; /* Asegúrate de que el z-index sea mayor que el del modal */
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0,0,0,0.4);
    display: flex;
    align-items: center;
    justify-content: center;
}

.loading-content {
    border: 16px solid #f3f3f3; /* Light grey */
    border-top: 16px solid #3498db; /* Blue */
    border-radius: 50%;
    width: 50px;
    height: 50px;
    animation: spinner 2s linear infinite;
}

@keyframes spinner {
    0% { transform: rotate(0deg); }
    100% { transform: rotate(360deg); }
}