/* TAMAÑO DEL SELECT 2 DE ROLES */
.select2-container .select2-selection--single {
    height: 37px !important;
}

/* FONDO DE LAS OPCIONES Y BORDEADO DEL SELECT2 */
.select2-selection--single {/*  */
    /* background-color: red !important; */
    border: 1px solid black !important;
    border-radius: 4px !important;
}

.select2-container--default .select2-selection--single {
    background-color: white !important;
}

/* COLOR DE FONDO Y ALTURA FLECHA DEL SELECT2 */
.select2-selection__arrow {
    background-color: white !important;
    height: 94% !important;
}

.not_render{
    display: none;
}

/*Flecha para hacer la pagina hacia arriba*/
.ir-arriba{
    display:none;
    background-repeat:no-repeat;
    font-size:20px;
    color: #343A40;
    cursor:pointer;
    position:fixed;
    bottom:10px;
    right:10px;
    z-index:2;
}

/* LOGO */
.logo-xl.brand-image-xl{
    left: 30px !important;
    top: -7px !important;
}
.brand-link .brand-image-xl {
    line-height: .8 !important;
    max-height: 68px !important;
    width: auto !important;
}

/* Seleccionar archivo */

.select-doc{
    padding-inline: inherit; 
    padding-block: inherit; 
    height: max-content; 
    color: black;
}

.button-doc-select{
    padding-block: inherit;
}

.scales{

    scale: 2;
}


